/* Estilos del formulario de contacto */
form {
  width: 50%;
  margin: 0 auto;
  margin-bottom: 50px; /* Agrega espacio al final del formulario para evitar que el footer lo tape */
}

input[type="text"],
input[type="email"],
textarea,
select {
  width: 100%;
  margin-bottom: 10px;
  padding: 5px;
}

input[type="submit"] {
  background-color: #333;
  color: #fff;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: #555;
}

footer {
  background-color: #f8f9fa; /* Color de fondo del footer */
  padding: 20px; /* Espaciado interno */
  text-align: center; /* Texto centrado */
  border-top: 1px solid #dee2e6; /* Borde superior */
  position: fixed; /* Fijo en la parte inferior */
  width: 100%; /* Ancho completo */
  bottom: 0; /* Posición en la parte inferior */
  z-index: 999; /* Asegura que el footer esté encima de otros elementos */
}

#datos {
  background-color: #f8f9fa;
  padding: 2rem;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin: 2rem 0;
}
#datos p {
  margin-bottom: 1rem;
  font-size: 1.1rem;
}
#datos iframe {
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 50%;
  height: 400px;
}

.carousel-item img {
  height: 500px; /* Ajusta esta altura según tus necesidades */
  object-fit: cover; /* Esto asegurará que la imagen se ajuste bien al contenedor */
}
/* También asegúrate de que el body tenga un padding-bottom adecuado para el footer */
body {
  padding-bottom: 100px; /* Ajusta esta altura según el tamaño de tu footer */
}
