/* Estilos del formulario de contacto */
form {
  width: 50%;
  margin: 0 auto;
  margin-bottom: 50px; /* Agrega espacio al final del formulario para evitar que el footer lo tape */
}

input[type="text"],
input[type="email"],
textarea,
select {
  width: 100%;
  margin-bottom: 10px;
  padding: 5px;
}

input[type="submit"] {
  background-color: #333;
  color: #fff;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: #555;
}

footer {
  padding: 20px; /* Espaciado interno */
  border-top: 1px solid #dee2e6; /* Borde superior */
  position: fixed; /* Fijo en la parte inferior */
  width: 100%; /* Ancho completo */
  bottom: 0; /* Posición en la parte inferior */
  z-index: 999; /* Asegura que el footer esté encima de otros elementos */
  background-color: #8b5843;
  color: white;
  text-align: center;
  padding: 10px;
}

#datos {
  background-color: #f8f9fa;
  padding: 2rem;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin: 2rem 0;
}
#datos p {
  margin-bottom: 1rem;
  font-size: 2rem;
  width: 100%;
}
#datos iframe {
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 100%;
  height: 10 rem;
}

body {
  padding-bottom: 100px; /* Ajusta esta altura según el tamaño de tu footer */
}

/* style.css */
.nav-link:hover {
  color: white; /* Cambia el color al pasar el cursor por encima */
}

body {
  background-color: #beb0aa;
  color: #343a40;
}

.navbar {
  background-color: #8b5843;
}

h1 {
  padding: 20px;
  text-align: center;
}

.contacto-mapa {
  display: flex;
  flex-direction: column;
}

.contacto,
.mapa {
  width: 100%;
}

/* Media query para pantallas grandes */
@media screen and (min-width: 768px) {
  .contacto-mapa {
    flex-direction: row;
  }

  .contacto {
    width: 50%;
  }

  .mapa {
    width: 50%;
  }
}

@media screen and (min-width: 768px) {
  .contacto-mapa {
    flex-direction: row;
  }

  .contacto {
    width: 50%;
  }

  .mapa {
    width: 50%;
  }
}
